.home-container {
  padding-top: 5rem;
  background-image: url(https://ik.imagekit.io/nwssoft/Payroll-portal/rm222batch2-mind-03.jpg?updatedAt=1707475152826);
  background-size: cover;
  background-attachment: fixed;
}
